[submodule "json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/utfcpp"]
	path = vendor/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
